body{
    background-color: black;
    color: aliceblue;
    background-image: radial-gradient(rgba(0,0,0,0.4) 15%,rgba(0,0,0,1) 85%),url(backgimage.jpg);
    background-size: 100% 50vw;
    background-repeat: no-repeat;
}


.logo{
    height: 4vw;
    width: auto;
    margin-left: 12vw;
    margin-top: 10px;
    float: left;
}
.language{
    margin-left: 40vw;
    float: left;
}

.signin{
    color: aliceblue;
    margin-left: 5vw;
    float: left;
    background-color: #db2a2a;
    padding: 6px;
    border-radius: 3px;
}
.line2{
    clear: left;
    float: left;
    margin-top: 15vw;
    margin-left: 20%;
    font-size: 4vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line3{
    clear: left;
    float: left;
    margin-left: 40%;
    margin-top: 15px;
    font-size: 2vw;
}
.line4{
    clear: left;
    float: left;
    margin-left: 25%;
    margin-top: 25px;
    font-size: 24px;
}
.line5{
    clear: left;
    margin-left: 35%;
    margin-top: 30px;
}
.email{
    background-color: rgba(0,0,0.5);
    height: 4vw;
    margin-top: 2vw;
    width: 20vw;
    padding: 1vw;
    color: aliceblue;
    border: 1px solid aliceblue;
}
.started{
    color: aliceblue;
    background-color: #db2a2a;
    padding: 6px;
    border-radius: 3px;
    margin-top: 2vw;
    height: 4vw;
    width: 12vw;
    margin-left: 1vw;
    border: none;
    font-size: 20px;
}
.endline1{
    background-color: #3b3a3a;
    height: 8px;
    width: 100%;
    margin-top: 10.8vw;
}
.tvbox{
    margin-bottom: 9.5vw;
}
.line6{
    margin-top: 13vw;
    margin-left: 16vw;
    font-size: 4.2vw;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tvtext{
    float: left;
    font-size: 2vw;
    font-family:sans-serif;
    margin-left: 16vw;
    margin-top: 3vw;
}
.tv{
    height: 25vw;
    margin-left: 5vw;
    margin-top: 9vw;
}
.mobile{
    height: 30vw;
    z-index: 1;
    position: absolute;
    margin: 7vw 0vw 4vw 15vw;
}
.mobileupper{
    background-color: black;
    padding: 30px;
    z-index: 2;
    height: 22px;
    width: 225px;
    border: 1px solid white;
    border-radius: 12px;
    position: absolute;
    margin: 28vw 0vw 0vw 24vw ;
}
.inboximg{
    position: absolute;
    margin: 28.6vw 0vw 0vw 26vw ;
    height: 5vw;
    z-index: 3;
}
.inboxtext{
    position: absolute;
    margin: 29vw 0vw 0vw 31vw ;
    z-index: 3;
}
.inboxtext2{
    position: absolute;
    margin: 31vw 0vw 0vw 31vw ;
    z-index: 3;
    color: rgb(63, 109, 235);
}
progress{
    width: 8vw;
    position: absolute;
    margin: 32.7vw 0vw 0vw 31vw ;
    z-index: 3;
}
.cluster{
    float: left;
}
.line7{
    /* width: 40vw; */
    margin: 15vw 0vw 0vw 60vw ;
    font-size: 4vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.line8{
    /* width: 40vw; */
    margin: 2vw 0vw 2vw 60vw ;
    font-size: 2vw;
    font-family:sans-serif;
}
.endline2{
    background-color: #3b3a3a;
    height: 8px;
    width: 100%;
    margin-top: 8vw;
}

.kidsimg{
    height: 28vw;
    float: right;
    margin: 7vw 12vw 0vw 0vw;
}
.line9{
    width: 30vw;
    font-size: 4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 13vw 0vw 0 16vw;
}
.line10{
    width: 45vw;
    font-size: 2vw;
    margin: 2vw 0vw 10vw 16vw;
}
.line11{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vw;
    margin-top: 4vw;
}

.flexcontainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content:flex-start; */
    align-items:flex-start;
    margin-top: 6vw;
    margin-left: 15vw;
    
}
.items{
    width: 60vw;
    /* flex-grow: 10; */
    background-color: #3b3b3b;
    /* flex-basis: 3vw ; */
    margin: 1vw 0 1vw 0;
    padding: 2vw;
    font-size: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    color: aliceblue;
}

.itemcontent{
    /* display: none ; */
    margin-top: 1.3vw;
    margin-left: 1.3vw;
}

.items:hover .itemcontent{
    display: block;
}
